<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.soft.zkrn.weilin_application">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.Community.MyCommunity"></activity>
        <activity android:name=".Activities.Task.TaskPublish_setEndTime" />
        <activity android:name=".Activities.Community.SuccessfulCreation" />
        <activity android:name=".Activities.Community.Community_Creation" />
        <activity android:name=".Activities.Community.Community_Creator" />
        <activity android:name=".Activities.Community.Community_Introduction" />
        <activity android:name=".Activities.Community.Community_Mainpage" />
        <activity android:name=".Activities.Gift.Gift_Mainpage" />
        <activity android:name=".Activities.Gift.Gift_Record" />
        <activity android:name=".Activities.Home.Homepage" />
        <activity android:name=".Activities.Home.Homepage_Help" />
        <activity android:name=".Activities.Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Login.RegisterSuccess" />
        <activity android:name=".Activities.Login.RegisterActivity" />
        <activity android:name=".Activities.Message.Message_Mainpage" />
        <activity android:name=".Activities.Recharge.Recharge_Detail" />
        <activity android:name=".Activities.Recharge.Recharge_WithdrawPassword" />
        <activity android:name=".Activities.Recharge.Recharge_RechargePassword" />
        <activity android:name=".Activities.Recharge.Recharge_Mainpage" />
        <activity android:name=".Activities.Setting.Setting_Mainpage" />
        <activity android:name=".Activities.Setting.Setting_Safety" />
        <activity android:name=".Activities.Setting.Setting_SetCode" />
        <activity android:name=".Activities.Setting.Setting_ResetPassword" />
        <activity android:name=".Activities.Setting.Setting_Currency" />
        <activity android:name=".Activities.Setting.Setting_Interface" />
        <activity android:name=".Activities.Setting.Setting_Message" />
        <activity android:name=".Activities.Setting.Setting_SeekHelp" />
        <activity android:name=".Activities.Setting.Setting_AddContact" />
        <activity android:name=".Activities.Setting.Setting_ChooseContact" />
        <activity android:name=".Activities.Setting.Setting_FeedBack" />
        <activity android:name=".Activities.Setting.Setting_About" />
        <activity android:name=".Activities.Task.TaskModule" />
        <activity android:name=".Activities.Task.TaskStatistics" />
        <activity android:name=".Activities.Task.ConfirmComplete" />
        <activity android:name=".Activities.Task.TaskAbandonAfterSuccess" />
        <activity android:name=".Activities.Task.TaskAbandonBeforeSuccess" />
        <activity android:name=".Activities.Task.TaskAbandonAfter" />
        <activity android:name=".Activities.Task.TaskAbandonBefore" />
        <activity android:name=".Activities.Task.TaskDetails" />
        <activity android:name=".Activities.Task.CommentSuccess" />
        <activity android:name=".Activities.Task.TaskComment" />
        <activity android:name=".Activities.Task.TaskCenter" />
        <activity android:name=".Activities.Task.StatisticsReceive" />
        <activity android:name=".Activities.Task.StatisticsPublish" />
        <activity android:name=".Activities.Task.ReceiveFailure" />
        <activity android:name=".Activities.Task.ReceiveSuccess" />
        <activity android:name=".Activities.Task.TaskReceiveDetails" />
        <activity android:name=".Activities.Task.TaskReceive" />
        <activity android:name=".Activities.Task.PublishFailure" />
        <activity android:name=".Activities.Task.PublishSuccess" />
        <activity android:name=".Activities.Task.TaskPublish" />
        <activity android:name=".Activities.Task.TaskCategory" />
        <activity android:name=".Activities.Task.TaskDeleteSuccess" />
        <activity android:name=".Activities.User.UserInformation_PhoneNumber" />
        <activity android:name=".Activities.User.UserInformation_ResetPhoneNumber" />
        <activity android:name=".Activities.User.UserInformation_Mainpage" /> <!-- <activity android:name=".HomepageUser" /> -->
        <!-- <activity android:name=".HomepageTask" /> -->
        <!-- <activity android:name=".HomepageMainpage" /> -->
        <activity android:name=".UserList" />
    </application>

</manifest>